

.grad{
    background-image: radial-gradient(circle at 27.25% 1.22%, #ff9062 0, #ff8364 12.5%, #ff7162 25%, #ff595e 37.5%, #ff3858 50%, #ef0053 62.5%, #e20052 75%, #d70055 87.5%, #ce005b 100%);
}

.gradiente{
    background: linear-gradient(to right, rgb(107, 121, 119), rgb(120, 214, 214), rgb(7, 120, 155));
}

.img_grande{
    background-image: url(./gato-negro-fondos.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color{
    background-color: rgb(0, 2, 100);
}

.img_mosaico{
    background-image: url(./dogs.jpg);
    background-size: contain;
}